body{
	background-color:black;
}
div.gallery a {
	text-decoration:none;
	color:gray;
	padding-left:2.1%;
}

.desc a:hover {
	color:rgba(0,191,255,0.5);
	font-size:26px;
}
.desc a:active {
	color:rgba(255,255,255,0.6);
	font-size:26px;
}

div.gallery img {
    width: 85%;
    height: auto;
}
img:hover{
opacity:0.8;}

.desc {
    padding: 15px;
    text-align: center;
	font-family:shorelines;
	font-size:28px;
	}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;}

transition: all ease .5s;	
	z-index: 99999;
	
}
#prev{
	float:left;
}

#next{
	float:right;
}
#log{
	float:left;
}	

	@font-face {
    font-family: shorelines;
    src: url("fonts/shorelines.otf");
}
	
	@font-face {
    font-family: prisma;
    src: url("fonts/Prisma.ttf");
}

	@font-face {
    font-family: paperdaisy;
    src: url("fonts/paperdaisy.ttf");
}

	@font-face {
    font-family: fifty;
    src: url("fonts/fifty-five.otf");
}

	@font-face {
    font-family: fish;
    src: url("fonts/fishchips.ttf");
}

	@font-face {
    font-family: champagne;
    src: url("fonts/champagne.ttf");
}
.text{
	text-align:center; 
	color: white; 
	font-family:prisma; 
	font-size: 90px; 
	padding: 50px 30px 10px 80px;
	font-face:bold;
}
